<!-- Required Meta Tags -->
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />

<div class="col-6 text-end">
  <a href="/interviews/open_form" class="btn btn-success align-self-center">Assign Interview</a>
</div>
</div>
<% if(students.length > 0) {%>
	
<div class="my-3">
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Company</th>
        <th scope="col">Student</th>
        <th scope="col">Email</th>
        <th scope="col">Contact</th>
        <th scope="col">Batch</th>
        <th scope="col">Interview Date</th>
        <th scope="col">Result</th>
      </tr>
    </thead>

    <tbody id="myTable">
  
      <% for(let student of students){%> <%i=0%> <% while(i< student.interviews.length){%>

        <tr class="row-ref">
          <td><%= student.interviews[i].company %></td>
          <td><%= student.name %></td>
          <td><%= student.email %></td>
          <td><%= student.contact %></td>
          <td><%= student.batch %></td>
          <td><%=student.interviews[i].date%></td>
          <td>
            <form
									style="display: flex; align-items: center; justify-content: center"
									action="/interviews/update/<%= student.id %>"
									method="post"
								>
									<input hidden type="text" name="companyName" value="<%=student.interviews[i].company%>" />

									<select class="form-select" aria-label="Default select example" name="companyResult" id="status" style="min-width: 130px">
										<option selected id="delete-options"><%=student.interviews[i].result%></option>
										<option value="Selected">Selected</option>
										<option value="Not Selected">Not Selected</option>
										<option value="On Hold">On Hold</option>
										<option value="Pending">Pending</option>
									</select>

									<button type="submit" class="btn btn-warning btn-small m-2">Update</button>
								</form>
          </td>
        </tr>
        <%i++%> <%}%> <%}%>

		
    </tbody>
  </table>
</div>
<%}else{%>
	<div class="w-75 mx-auto mt-5">
  </div>
  
  <h2>No Records found</h2>
	<%}%>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
